body {
    background-color: #e1bee7;
    margin: 0;
    padding: 10px;
}

h1 {
    text-align: center;
    font-size: 3em;
    font-weight: bold;
}

.contenu {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
}

section {
    background-color: #af8eb5;
    border-radius: 20px;
    padding: 20px;
    width: 30%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

section h2 {
    text-align: center;
    margin-top: 0;
}

#oblic-strat-tile {
    background-color: #212121;
    border-radius: 10px;
    border-style: outset;
    border-width: 5px;
    color: #414141;
    cursor: pointer;
    display: flex;
    padding: 15px;
    height: 12em;
}

#oblic-strat-tile:active {
    border-style: inset;
}

#oblic-strat-tile i {
    font-size: 3em;
    margin-right: 0.5em;
}

#oblic-text {
    color: #fff;
    font-size: 2em;
    font-family: 'Kanit', monospace;
}

#clock-tabs {
    display: grid;
    grid-template-columns: 33% 33% 33%;
}

.clock-tab {
    text-align: center;
    border: 1px solid black;
    background-color: rgba(0, 0, 0, 0.1);
    cursor: pointer;
    padding: 5px;
}

#clock-tabs .selected {
    background-color: #af8eb5;
    border-bottom: none;
}

.clock-tab:hover {
    background-color: rgba(0, 0, 0, 0.2);
}

#clock {
    font-size: 3em;
    font-family: 'Emblema One', 'Kanit', monospace;
    text-align: center;
}

#btns {
    text-align: center;
}
